<% if user_signed_in? %>
  <% if @posts.any? %>
    <ul>
      <% @posts.each do |post| %>
        <li class="posts">
          <%= image_tag post.image.url(:medium) %>

          <%= link_to "Buy", new_post_charge_path(post) %>

          <% if post.user %>
           <%= post.user.email %>
          <% end %>
          <p><span class="likes_count"><%= post.likes.count %> </span> liked this. <%= link_to 'Like', post_likes_path(post), class: 'likes-link' %></p>
          <%= link_to "Comment", new_post_comment_path(post) %>
          <% if post.comments.any? %>
            <ul>
              <% post.comments.each do |comment| %>
                <li>
                  <% if comment.user %><%= comment.user.email%><% end %> : <%= comment.content %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    No posts yet.
  <% end %>
  <a href='/posts/new'>Post</a>
<% end %>